.Wrapper {
	display: flex;
	width: 100%;
	height: 100vh;
	justify-content: space-between;
	overflow-y: hidden;
}
.MainColumn {

    margin:40px;
    width: 100%;
	
}
.email {
}
.centertop {
}
.AboutMeTitle {

	font-family: "Rochester", cursive;
	font-weight: bold;
}

.AboutMEInfo {
	color: black;
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
		"Lucida Sans", Arial, sans-serif;
	font-weight: bold;
    margin-left: 50px;
    font-size: 50px;
}

.TextArea {
	margin-left: 50px;
	font-family: monospace;
	font-size: inherit;
	line-height: inherit;
}
.StyleBtn {
	position: fixed;
	bottom: 0;
	left: 250px;
	width: 300px;

	display: inline-block;

	border-radius: 5px;
	outline: 0;
	text-decoration: none;
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
		"Lucida Sans", Arial, sans-serif;
}
.StyleBtn > button:not(:last-child) {
	margin-right: 20px;
}
.editAboutMe {
}
.button{
    position: fixed;
	bottom: 0;
	left: 560px;
	width: 300px;

}



/* 
    not used css
    
    
    padding: 12px 12px;
    margin: 19px 100px;
    border: none;
    cursor: pointer;
    font-size: large;
    
     /* padding:5px 15px;
    border-radius: 5px;
    outline: 0;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
